<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89daf3">  <td>19/10/28 01:43:36</td>   <td>0</td> <td title="&gt;&gt;Day4.setup()[pri:0, instance:days.Day4@1921e20]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7474033</td>   <td></td> </tr>
<tr bgcolor="89daf3">  <td>19/10/28 01:44:38</td>   <td>62188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Day4.test1()[pri:0, instance:days.Day4@1921e20]">test1</td> 
  <td>main@7474033</td>   <td></td> </tr>
<tr bgcolor="89daf3">  <td>19/10/28 01:44:39</td>   <td>63418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Day4.test2()[pri:0, instance:days.Day4@1921e20]">test2</td> 
  <td>main@7474033</td>   <td></td> </tr>
<tr bgcolor="89daf3">  <td>19/10/28 01:44:39</td>   <td>63525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Day4.test3()[pri:0, instance:days.Day4@1921e20]">test3</td> 
  <td>main@7474033</td>   <td></td> </tr>
<tr bgcolor="89daf3">  <td>19/10/28 01:44:40</td>   <td>64552</td> <td title="&lt;&lt;Day4.teardown()[pri:0, instance:days.Day4@1921e20]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7474033</td>   <td></td> </tr>
</table>
